DirectoryIndex home.php index.html index.php

RewriteEngine On

RewriteRule ^about$ /about.html [L]
RewriteRule ^about/$ /about.html [L]
RewriteRule ^projects$ /projects.html [L]
RewriteRule ^projects/$ /projects.html [L]