@font-face {
  font-family: Main;
  src: url(font-ubuntu.ttf) format("opentype");
  color: black;
}

:root {
  --main-color: #554f44;
  --main-color-transparent: #554f44a8;
  --link-color: #454E2D;
  --link-color-transparent: #454E2DA8;
  --background-gradient: linear-gradient(125deg, #dad7b6 0%, #d1bd8f 100%);
}
body {
	font-family: Main; 
  background: var(--background-gradient);
	opacity: 1;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
	position: fixed;
	top: 60px;
	margin: 60px;
	display: none;
}
::-webkit-scrollbar-track {
    background: #B3B3B3; 
}
::-webkit-scrollbar-thumb {
  background-color: #808080;
	width: 10px;
	margin: 0 auto;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #636363;
}

button {
  background: 0;
  border: 0;
}
button:focus {
  outline: none;
}
a {
  color: var(--link-color);
  text-decoration: underline wavy 2px var(--link-color-transparent);
  /* cursor: none; */
}
a:hover {
  color: var(--link-color);
  text-decoration: underline wavy 2px var(--link-color);
  /* cursor: none; */
}
::selection {
  background: #6B6B6B;
  color: #ffffff;
}
::-moz-selection {
  background: #6B6B6B;
  color: #ffffff;
}
p {
  margin: 0;
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------- Main page ------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/
.logo {
  position: fixed;
  right: 0%;
  bottom: -100%;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  background: url(../images/logos/logo-3d.svg) no-repeat;
  background-position: bottom right;
  background-size: contain;
  -webkit-transition: bottom 1s;
  transition: bottom 1s;
}
.logo.loaded {
  bottom: 0%;
}

h {
  color: var(--main-color);
}

.content {
  overflow-x: hidden;
  overflow-y: hidden;
  background: transparent;
  color: var(--main-color-transparent);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0%; left: 0%;
  width: 100%;
  height: 100vh;
  opacity: 0;
  text-align: left;
  transform: skew(0deg, 5deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  z-index: 2;
}
.content.loaded {
  opacity: 1;
  transform: skew(0deg, 0deg);
}

.wrapper {
  width: 90%;
  max-width: 650px;
}

.uppertitle {
  font-size: 2em;
}

.title {
  position: relative;
  font-size: 3em;
  padding-bottom: 0.5em;
}

.undertitle {
  font-size: 1.75em;
}

.links-button {
  position: relative;
  display: inline-block;
  font-size: 1.75em;
  margin: 0.15em 0 0 0.25em;
  padding: 0px 0px 0px 1.25em;
}
.links-button::after {
  content: '';
  position: absolute;
  left: 0; top: 2.4px;
  width: 1em;
  height: 1em;
  background: var(--link-color);
  mask-size: cover;
  -webkit-mask-size: cover;
}

.links-button.telegram::after {
  mask-image: url("../images/icon-telegram.png");
  -webkit-mask-image: url("../images/icon-telegram.png");
}
.links-button.mail::after {
  mask-image: url("../images/icon-mail.png");
  -webkit-mask-image: url("../images/icon-mail.png");
}
.links-button.github::after {
  mask-image: url("../images/icon-github.png");
  -webkit-mask-image: url("../images/icon-github.png");
}

.languages {
  padding-top: 2em;
}
.lang-button {
	font-family: Main; 
  display: inline-block;
  margin: 0 0.5em 0 0;
  padding: 0 0 0.25em 0;
  font-size: 1.5em;
  color: var(--main-color-transparent);
}
.lang-button:hover {
  color: var(--main-color);
  text-decoration: underline wavy 2px var(--main-color-transparent);
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  ::selection {
    background: #ffffff47;
    color: #6B6B6B;
  }
  ::-moz-selection {
    background: #ffffff47;
    color: #6B6B6B;
  }
  :root {
    --main-color: #FFEDCC;
    --main-color-transparent: #FFEDCCa8;
    --link-color: #CFEA87;
    --link-color-transparent: #CFEA87A8;
    --background-gradient: linear-gradient(125deg, #3f3f3a 0%, #37342c 100%);
  }
  .logo {
    opacity: 0.1;
  }
}