.menu {
  width: 100%;
}

.icons {
  top: 3px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.mp-text {
  top: 30%;
  font-size: 1em;
}
.mp-text-uppertitle {
  font-size: 0.75em;
}
.mp-text-title {
  font-size: 2em;
}
.mp-text-2 {
  bottom: -112px;
  font-size: 0.75em;
}
.mp-text-3 {
  bottom: -48px;
}
.mpt2-button {
  font-size: 2em;
}